html,body {
  width: 100%;
  height:100%; 
}

#app-iframe-container {
  border: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 300px;
}

#app-iframe {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

#shiny-recorder {
  border: none;
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
}

#shiny-recorder .shiny-recorder-title {
  font-weight: bold;
  color: #fff;
  background: #8a110f;
  padding: 5px;
}

#shiny-recorder .shiny-recorder-code pre {
  overflow: visible;
}
